name: Actualizar Lista IPTV

on:
  schedule:
    # Corre todos los días a las 05:00 AM UTC
    - cron: '0 5 * * *'
  workflow_dispatch: # Permite ejecutarlo manualmente desde la pestaña Actions

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Ejecutar script de actualización
      run: python update_list.py

    - name: Commit y Push de cambios
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add mi_lista_privada.m3u
        git commit -m "Auto-update: $(date +'%Y-%m-%d %H:%M:%S')" || echo "No hay cambios para commitear"
        git push
